# Large Header (h1)
## Header (h2) etc..
--- 
(three dashes create separator)
### all in markdown mode
### __two underscores__ = bold
[www.google.com](link text)

In [1]:
# kaggle datasets: www.kaggle.com
# read: markdown documentation (daring fireball)

In [2]:
# command mode shortcuts: a- insert cell above, b- insert cell below, alt + enter- run + new cell, 
# ctl+shift+hyphen- split cell

In [3]:
from pandas import DataFrame, Series

In [4]:
import pandas as pd

In [5]:
titanic = pd.read_csv('titanic.csv')

In [6]:
titanic.head() #preview first 5 elements of dataframe

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
titanic.describe() # summary stats of dataframe

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [8]:
gender = titanic.groupby('sex') # group data by characteristic

---
# Code-Along Section
### Pandas & Numpy

In [9]:
import numpy as np # numpy, a numerical package

In [10]:
a = np.zeros((3)) #creates list of zeros, length 3

In [11]:
a == [0,0,0] # vectorization

array([ True,  True,  True], dtype=bool)

In [12]:
print a

[ 0.  0.  0.]

In [13]:
b = np.ones((2,3)) # creating a matrix of 2 rows 3 columns

In [14]:
print b

[[ 1.  1.  1.]
 [ 1.  1.  1.]]

In [15]:
np.random?

In [16]:
# question mark after method provides documentation/syntax in Jupyter

In [17]:
c = np.random.randint(1, 10) # generates random integer in range 1, 10

In [18]:
np.arange # return evenly space values within range

In [19]:
# you can paste code into terminal from clipboard using %paste

In [20]:
np.random.randn(3,5) # quick way to define matrix (array) of values

array([[ 0.13587083, -1.74226909,  0.27617593,  0.82807527, -0.23047224],
       [ 2.13894774, -0.53718771,  0.88966004, -0.27808686, -0.58041773],
       [ 0.83173597,  0.51881162, -0.5086131 ,  0.07922584,  1.24848906]])

In [21]:
# reset_index() resets index to original index
# can pass list in DataFrame to get more than one column
# .loc allows for indexing by row (.loc[row label, col label])
# ['Value'] --> columns access
# .iloc[row number, col number]